{{define "body"}}
<!DOCTYPE html>
<html>
<head>
    {{template "firebase"}}
    <script src="/static/js/jquery-3.0.0.min.js"></script>
    <script src="/static/js/js.cookie.js"></script>
    <script src="/static/js/base.js"></script>
    <title>Task Tracker</title>
</head>
<body>
<div id="logged_out" style="display: none;">
    You are logged out. Click a button
    <button class="login" id="google-login">Login with Google</button>

</div>
<div id="logged_in" style="display: none;">
    <h4>Your tasks:</h4>
    <ul id="task-list"></ul>
    <div id="add-task">
        <input type="text" id="task-name" />
        <input type="submit" id="task-submit" value="Add A Task">
    </div>
    <h4>Your goals:</h4>
    <ul id="goal-list"></ul>
    <div id="add-goal">
        <button id="goal-submit">Add a goal</button>
    </div>
</div>
</body>
</html>
{{end}}
